apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: heart-api
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: heart-api
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
